@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.page-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.welcome-box {
  text-align: center;
  margin-top: 10px;
}

.logo {
  max-width: 230px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.buttons {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}  

.bottom-image {
  width: 100%;
  max-width: 430px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 0 auto;
}

.btn {
    text-decoration: none;
    color: #FAFEE4;
    background-color: #ADCC22;
    padding: 14px 24px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn-secondary {
  text-decoration: none;
  color: #646262;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.intro-text{
  font-size: 32px;
  font-weight: 600;
  color: #646262;
  line-height: 30px;
  letter-spacing: 2px;
  margin: 40px 0;
  text-align: center;
}

.green-container{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  max-width: 430px;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 150px;
  text-align: center;
  margin: 0 auto;
  background-color: #C2D85E;
  box-sizing: border-box;
}

.login-container{
  font-size: 30px;
  color: #000000;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 40px 0;
  text-align: center;
  font-weight: 600;
}

.input-field{
  width: 60%;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 6px;
  cursor: text;
  font-size: 20px;
  text-align: center;
}

.button-row{
  flex-direction: column;
  display: flex;
  gap: 12px;
  margin: auto 0;
}

.enterButton {
  text-decoration: none;
  color: #FAFEE4;
  padding: 14px 65px;
  font-size: 40px;
  font-weight: 800;
  text-align: right;
  position: relative;
  top: -100px;
}

.enterButton.inactive {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

.enterButton.active {
  opacity: 1;
  cursor: pointer;
}

.register {
  text-decoration: none;
  color: #646262;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 0 auto;
}

.register-container {
  font-size: 20px;
  color: #000000;
  line-height: 10px;
  letter-spacing: 2px;
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
  position: relative;
  top: -20px;
}

.registerButton {
  text-decoration: none;
  color: #FAFEE4;
  padding: 10px 65px;
  font-size: 30px;
  font-weight: 800;
  text-align: right;
  position: relative;
  top: -60px;
}

.registerButton.inactive {
  pointer-events: none;
  color: #FAFEE4;
  cursor: default;
  opacity: 0.3;
}

.registerButton.active {
  color: #FAFEE4;
  opacity: 1;
  cursor: pointer;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin: 10px;
  text-align: center;
  background-color: #C2D85E;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 10px;
  text-align: center;
  background-color: #DB9CCE;
}

form {
  flex-grow: 1;
}

.input-group {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

.input-group label{
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
}

input[type="number"], select{
  width: 100%;
  padding: 12px;
  border: 2px solid #646262;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
}

.input-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gender-buttons{
  display: flex;
  gap: 20px;
  justify-content: center; 
}

.gender-btn {
  display: none;
}

.gender-btn + label {
  padding: 12px;
  cursor: pointer;
  font-size: 30px;
  border: 2px solid #646262;
  border-radius: 25px;
}

.gender-btn:checked + label {
  background-color: #C2D85E;
  border-color: #C2D85E;
}

.gender-btn + label:hover {
  background-color: #f0f0f0;
}

.continueButton {
  text-decoration: none;
  color: #FAFEE4; 
  background-color: #C2D85E; 
  border-radius: 25px;  
  padding: 10px 65px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.continueButton.inactive {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

.continueButton.active {
  opacity: 1;
  cursor: pointer;
}

.btn-row {
  margin-top: auto;
  padding-bottom: 60px;
}

.goalQuestion {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  line-height: 38px;
  margin: 40px 0;
}

.goal-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0; 
}

.goal-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  border: 2px solid #ccc;
  border-radius: 40px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  background-color: #ffffff;
}

.goal-btn img {
  width: 40px;
  height: 40px;
}

.goal-btn span {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}
.goal-btn input[type="radio"] {
  display: none;
}

.goal-btn:has(input[type="radio"]:checked){
  border: 4px solid #D81B60;
}

.goal-btn:hover {
  border-color: #e91e63;
}

.backInfo {
  text-decoration: none;
  color: #878787;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 20px;
  align-self: flex-start;
  cursor: pointer;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 1px;
  color: #000000;
  margin: 10px;
  text-align: center;
}

.calories-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #D81B60;
  margin: 20px 0;
}

.calories-value-box {
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nutrients-box {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.nutrient-value-box {
  background-color: white;
  color: black;
  font-size: 26px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nutrient {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #D81B60;
}

.message {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  color: #646262;
}

.startButton {
  color: #FAFEE4;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: center;  
  cursor: pointer;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calorie-wrapper {
  flex: 1;
}

.profile-title {
  color: #000000;
  font-size: 26px;
  font-weight: 600;
  text-align: center;  
}

#user-avatar {
  width: 120px;
  height: 120px;
}

.user-details {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  text-align: center;  
  line-height: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600; 
  width: fit-content;
  margin: 0 auto;
  align-items: flex-start;
}

.menu-item {
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.2s ease;
  border-radius: 8px;
  padding: 0 20px;
}

.menu-item img {
  width: 40px;
  height: 40px;
}

.menu-item:hover {
  background-color: #DCEF82;
}

.logoBottom {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.target-title {
font-size: 32px;
font-weight: 600;
line-height: 34px;
letter-spacing: 1px;
color: #000000;
margin: 30px;
text-align: center;
}

.changes{
  text-decoration: none;
  color: #646262;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.date-scroll {
  display: flex;
  overflow-x: auto;
  padding-top: 40px;
  gap: 20px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.date-scroll::-webkit-scrollbar {
  display: none;
}

.date-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  background-color: #FAFEE4;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  text-align: center;
  min-width: 90px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease;
}

.date-card:hover {
  background-color: #f0f0f0;
}

.date-card.selected {
  background-color: #D81B60;
  color: #fff;
  border-color: #D81B60;
}

.meal-top {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 30px auto 20px;
  max-width: 400px;
  width: 90%;
}

.meal-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.meal-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.meal-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
}

.meal-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.icon-btn:hover {
  opacity: 1;
}

.meal-calories {
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.meal-title {
  margin: 0;
}

.meal-nutrients {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000000;
  border-top: 1px solid #eee;
  padding-top: 8px;
  font-weight: 500;
}

.meals-btn {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 430px;
  width: 100%;
  bottom: 140px;
  margin: 0 auto;
  box-sizing: border-box;
}

.meal-btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.meal-btn:hover {
  opacity: 1;
}

.nutrition-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nutrition-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.nutrition-info span:first-child {
  font-weight: 600;
  color: #DB9CCE;
  font-size: 16px;
}

.nutrition-info p {
  margin: 4px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.nutrition-info span:last-child {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.scroll-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 100px;
}

.fixed-total {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  background-color: #FAFEE4;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.total-card {
  padding: 16px 20px;
  background-color: #FAFEE4;
  border-top: 1px solid #ccc;
}

.title-container {
  display: flex;
  font-size: 32px;
  font-weight: 800;
  color: #000000;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.menu-icon:hover {
  opacity: 0.7;
}

.scroll-page {
  flex: 1;
  overflow-y: auto;
}

.recipe-card {
  background-color: #FAFEE4;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recipe-title {
  margin: 0;
  color: #D81B60;
}

